:root {
  --color: white;
}

ul li {
  list-style: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
}

body {
  background-color: #083b4c;
}

h1 {
  color: var(--color);
  text-align: center;
}

ul {
  gap: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #1389b2;
}

.box.fizzbuzz {
  background-color: #f0466f;
}

.box.fizz {
  background-color: #0cd6a1;
}

.box.buzz {
  background-color: #ffd166;
}
